<div class="main-q">
  <div class="ui items">
    <div class="item" id="main-question">

        <a class="ui tiny image">
          <%= gravatar_helper question.user %>
        </a>
        <div class="content">
          <%= link_to question.title, question_path(question), class: "header" %>
          <div class="description">
            <p><%= excerpt(question.content, "", radius:150) %></p>
          </div>
          <h4>Answers: <%= question.answers.count %></h4>
          <i><h5 class="user"><%= "asked by: " + question.user.username.to_s   %></h5></i>
        </div>

    </div>
  </div>
</div>
<span class="sexy_line"></span>
